<nav class="{{ classes.nav|join(' ')|default('text-center') }}">
    <ul class="{{ classes.ul|join(' ')|default('pagination') }}">
        <li>
            <a href="{{ paginator.first.url }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        {% if ( options.show_empty is defined and options.show_empty ) or paginator.prev is not empty %}
            {% spaceless %}
                <li>
                    <a href="{% if paginator.prev is not null %}{{ paginator.prev.url }}{% else %}{{ paginator.first.url}}{% endif %}" title="Previous page">
                        &laquo;
                    </a>
                </li>
            {% endspaceless %}
        {% endif %}
        {% for page in paginator.pages %}
            {% if page is empty %}
            <li><span>...</span></li>
            {% else %}
            <li{% if paginator.current == page.page %} class="active"{% endif %}><a href="{{ page.url }}">{{ page.page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if ( options.show_empty is defined and options.show_empty ) or paginator.next is not empty %}
            {% spaceless %}
            <li>
                <a href="{% if paginator.next is not empty %}{{ paginator.next.url }}{% else %}{{ paginator.last.url}}{% endif %}" title="Next page">
                    &raquo;
                </a>
            </li>
            {% endspaceless %}
        {% endif %}
        <li>
            <a href="{{ paginator.last.url }}" aria-label="Next">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>